pre.panel-body.logs::before, pre.panel-body.logs::after {
    content: none;
}

pre.panel-body.logs {
    padding: 0;
    margin: 0;
    border: 0;
    background-color: white;
    white-space: pre-wrap;
}

pre.panel-body.logs>div {
    border-top: 1px solid lightgray;
    padding: 5px;
}

pre.panel-body.logs>div:first-child {
    border-top: none;
}